body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.WGrid {
    margin: 2px;
    border-collapse: collapse;
    width: 100%;
    box-shadow: 10px 10px 10px #808080;
}

/* Заглавная строка */
.WGrid thead tr {
    background-color: #eeeeee;
    color: black;
}

.WGrid thead th {
    text-align: center;
}

.WGrid thead th a:any-link {
    color: black;
}

/* Ячейки */
.WGrid th, .WGrid td {
    border: 2px solid #505050;
    padding: 2px 12px;
}

.EditLink {
    cursor: pointer;
}

.WGrid tbody tr:hover {
    background-color: ghostwhite;
    text-shadow: 5px 5px 4px #aaaaaa;
    transition: background-color 0.4s ease-out 0s,
        text-shadow 0.4s ease-out 0s;
}

.AlternatingTableRow {
    background-color: #fafafa;
}
