<h2>Тестовый проект на соискание должности .Net Программист</h2>
<h3>Используемые источники:</h3>
<ul>
    <li>
        <a href="https://docs.microsoft.com/ru-ru/aspnet/overview">Общие сведения о ASP.NET</a>
    </li>
    <li>
        <a href="https://metanit.com/sharp/aspnet_webapi/">Руководство по ASP.NET Web API 2</a>
    </li>
    <li>
        <a href="https://metanit.com/sharp/mvc5/5.2.php">Подключение к базе данных</a>
    </li>
    <li>
        <a href="https://www.c-sharpcorner.com/UploadFile/2b481f/webgrid-helper-in-Asp-Net-web-api/">WebGrid Helper in ASP.Net Web API</a>
    </li>
    <li>
        <a href="https://www.c-sharpcorner.com/UploadFile/2b481f/search-record-and-display-in-webgrid-in-webapi/">Search Record and Display in WebGrid in WebAPI</a>
    </li>
    <li>
        <a href="https://msdn.microsoft.com/ru-ru/library/system.web.helpers.webgrid(v=vs.111).aspx">Класс WebGrid</a>
    </li>
    <li>
        <a href="https://metanit.com/sharp/aspnet5/7.1.php">Представления</a>
    </li>
</ul>
