<h2>Тестовый проект на соискание должности .Net Программист</h2>
<h3>Используемые источники:</h3>
<ul>
    <li>
        <a href="https://docs.microsoft.com/ru-ru/aspnet/overview">Общие сведения о ASP.NET</a>
    </li>
    <li>
        <a href="https://metanit.com/sharp/aspnet_webapi/">Руководство по ASP.NET Web API 2</a>
    </li>
    <li>
        <a href="https://metanit.com/sharp/mvc5/5.2.php">Подключение к базе данных</a>
    </li>
    <li>
        <a href="https://www.c-sharpcorner.com/UploadFile/2b481f/webgrid-helper-in-Asp-Net-web-api/">WebGrid Helper in ASP.Net Web API</a>
    </li>
    <li>
        <a href="https://www.c-sharpcorner.com/UploadFile/2b481f/search-record-and-display-in-webgrid-in-webapi/">Search Record and Display in WebGrid in WebAPI</a>
    </li>
    <li>
        <a href="https://msdn.microsoft.com/ru-ru/library/system.web.helpers.webgrid(v=vs.111).aspx">Класс WebGrid</a>
    </li>
    <li>
        <a href="https://metanit.com/sharp/aspnet5/7.1.php">Представления</a>
    </li>
    <li>
        <a href="https://www.mindstick.com/Articles/1411/editable-webgrid-in-asp-dot-net-mvc">Editable WebGrid in ASP.NET MVC</a>
    </li>
</ul>
<h3>Фиксация затраченного времени:</h3>
<ul>Изучение технологий и методов решения задач - 600 м или 10 ч:
    <li>02.04.2018 15:41-16:27</li>
    <li>03.04.2018 23:57-00 11</li>
    <li>03.04.2018 02:33-04:05</li>
    <li>05.04.2018 03:58-06:46</li>
    <li>06.04.2018 04:34-06:38</li>
    <li>06.04.2018 15:02-15:12</li>
    <li>11.04.2018 04:06-06:30</li>
</ul>
<ul>Проектирование, программирование и отладка приложения - 851 м или 14,183(3) ч:
    <li>07.04.2018 04:56-12:08</li>
    <li>08.04.2018 17:35-19:59</li>
    <li>11.04.2018 20:22-21:03</li>
    <li>12.04.2018 03:13-07:07</li>
</ul>
