@{
    ViewBag.Title = "Таблицы API";
    var page = new WebGrid(Model, canPage: true, rowsPerPage: 5, defaultSort: "Text");
    page.Pager(WebGridPagerModes.NextPrevious);
    @page.GetHtml(tableStyle: "WGrid", alternatingRowStyle: "AlternatingTableRow",
        columns: page.Columns(
        page.Column("Text", "Слово", canSort: true),
        page.Column("MainTranslation", "Основное значение", canSort: true),
        page.Column("PhTranscription", "Транскрипция", canSort: true),
        page.Column("IsIrregularVerb", "Неправильный глагол?", canSort: true),
        page.Column("WhenAdded", "Добавлен", canSort: true),
        page.Column("LearningStage", "Степень изучения", canSort: true),
        page.Column(null, "Управление", format: @<b><a class="EditLink" id="@item.Id">Редактировать</a></b>)
        )
    );
}
